<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
  <head>
    <meta charset="UTF-8" />
    <title>Lucca Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" type="text/css" href="chat.css" />
  </head>
  <body>
    <div class="mainBody" ng-controller="ChatController">
      <header class="header">
        <figure class="logo">
          <img src="./assets/logo.svg" />
        </figure>
      </header>

      <main class="wrapper">
        <div class="chatbox">
          <ul class="messages-wrapper">
            <li
              ng-repeat="message in messages"
              class="message"
              ng-class="{ownMessage:message.me}"
            >
              <img
                ng-src="{{ message.img }}"
                height="100px"
                class="img-chat"
                alt="Avatar de {{ message.author }}"
              />
              <article>
                <p style="background:white; width:400px">
                  {{ message.message }}
                </p>
                <p style="color:#333">
                  {{ message.time | date: 'yyyy-MM-dd HH:mm:ss Z' }}
                </p>
              </article>
            </li>
          </ul>
          <div class="status" ng-if="messageInput">
            <div ng-class="{show:messageInput}">
              <img
                ng-src="{{ messageInput.img }}"
                height="50px"
                style="float:left;"
              />
              <p style="background:white; width:400px">
                {{ messageInput.author }} écrit ...
              </p>
            </div>
          </div>
          <form class="composeBox" ng-submit="sendMessage()">
            <input
              placeholder="Envoyer un message"
              ng-model="currentMessage"
              ng-change="updateInput()"
            /><button>send</button>
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
