<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lucca Chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.3.0/angular-moment.min.js"></script>
    <script src="./app.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="chat.css" />
  </head>
  <body>
    <div class="mainBody" ng-controller="ChatController">
      <header class="header">
        <figure class="logo">
          <img src="./assets/logo.svg" />
        </figure>
      </header>

      <main class="wrapper">
        <div class="chatbox">
          <aside class="chatbox-header">
            <figure class="operator">
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                class="avatar small"
                alt="Tomothy's avatar"
                style="background-image: url('./assets/9359.png')"
              />
            </figure>
            <div class="content">
              <p class="name">Tomothy Webb</p>
              <p class="context">
                Hey! I'm here to help with your urgent questions.
              </p>
            </div>
          </aside>

          <ul class="messages-wrapper" id="log" aria-live="polite">
            <li ng-show="emptyArray" class="emptyScreen">
              Time to start a conversation!
            </li>
            <li
              ng-repeat="message in messages"
              class="message"
              ng-class="{ownMessage:message.me}"
            >
              <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                class="avatar"
                alt="{{ message.author }}'s avatar"
                style="background-image: url('{{ message.img }}')"
              />
              <article class="message-body">
                <p class="sr-only">{{ message.author }} says:</p>
                <p class="content">
                  {{ message.message }}
                </p>
                <p class="timestamp" am-time-ago="message.time"></p>
              </article>
            </li>
          </ul>

          <div class="status" aria-live="polite">
            <p ng-if="messageInput">
              <span class="typingIndicator">
                <i></i>
                <i></i>
                <i></i>
              </span>
              {{ messageInput.author }} écrit ...
            </p>
          </div>

          <form name="composeBox" class="composeBox" ng-submit="sendMessage()">
            <label for="message" class="sr-only">Entrez votre message</label>
            <input
              placeholder="Envoyer un message"
              ng-model="currentMessage"
              class="composeBox-input"
              id="message"
              autocomplete="off"
              required
            />
            <button
              class="composeBox-button"
              ng-disabled="composeBox.$invalid"
              title="Send message"
            >
              <svg viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.375 15.075L23.625 3.375L8.49375 17.8312L3.375 15.075Z"
                />
                <path
                  d="M17.3813 22.5562L14.0063 20.925L12.2625 23.7375L11.6438 19.575L23.625 3.375L23.5125 3.7125L17.3813 22.5562Z"
                />
              </svg>
            </button>
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
