.chatbox {
  @include box;
  width: 100%;
  height: calc(100vh - 16.5rem);
  position: relative;
  max-width: 85rem;
  max-height: 70rem;
  margin-bottom: 5rem; // Vertical margin to artifically recenter the chatbox, balancing with the logo
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: stretch;

  .messages-wrapper {
    flex-grow: 2;
    overflow: auto;
    padding: $desktopPaddingBase ($desktopPaddingBase * 2);
  }

  .status {
    display: flex;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 0 $desktopPaddingBase;
  }
}
