.chatbox {
  @include box;
  width: 95%;
  height: calc(100vh - 16.5rem);
  position: relative;
  max-width: 85rem;
  max-height: 70rem;
  margin-bottom: 5rem; // Vertical margin to artifically recenter the chatbox, balancing with the logo
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: stretch;

  .messages-wrapper {
    flex-grow: 2;
    overflow: auto;
    padding: $desktopPaddingBase ($desktopPaddingBase * 2);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    position: relative;

    &:before {
      content: '';
      margin-top: auto;
    }
  }

  .status {
    display: flex;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 0 $desktopPaddingBase;
    position: relative;

    &:after {
      content: '';
      width: 100%;
      display: block;
      height: $desktopPaddingBase;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $white);
      z-index: 1;
      position: absolute;
      bottom: 100%;
      left: 0;
    }
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    height: calc(100vh - 6rem);
    max-height: 100%;
    margin-bottom: 0;
    background: transparent;
    box-shadow: 0 0 0 transparent;

    .messages-wrapper {
      padding: $mobilePaddingBase ($mobilePaddingBase *2);
    }

    .status { 
      padding: 0 $mobilePaddingBase;

      &:after {
        height: $mobilePaddingBase;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $background);
      }
    }
  }
}
