.message {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 3rem;
  animation: appear 200ms ease-out;
  animation-fill-mode: forwards;

  &:last-child {
    margin-bottom: 0;
  }

  .avatar {
    order: 1;
    margin-right: 1.5rem;
    flex-shrink: 0;
  }

  .message-body {
    order: 2;
    background: $secondary;
    border-radius: 1rem 1rem 1rem 0.3rem;
    padding: 1.5rem $desktopPaddingBase;
    max-width: 35rem;

    .content {
      @include source(1.5rem, 400, $white);
      margin-bottom: 1.5rem;
      line-height: 1.9rem;
    }

    .timestamp {
      @include source(1.3rem, 400, $white);

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  &.ownMessage {
    justify-content: flex-end;

    .avatar {
      order: 2;
      margin-right: 0;
      margin-left: 1.5rem;
    }

    .message-body {
      order: 1;
      background: $primary;
      border-radius: 1rem 1rem 0.3rem 1rem;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(25%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
