// Colors

$background: #f4f7fa;
$white: #ffffff;
$primary: #006666;
$secondary: #0f98d0;
$copy: #41464d;
$dividers: #d6deea;
$placeholder: #8695a9;

// Marges and paddings

$desktopPaddingBase: 2rem;
$mobilePaddingBase: 1.5rem;
